.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #E6E6FA;
}

.header {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #5C2A9D;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.slider-text {
  margin-right: 20px;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.mat-button-toggle {
  background-color: #fff;
  color: #5C2A9D;
}

.mat-button-toggle-checked {
  background-color: #5C2A9D;
  color: #fff;
}

.toggle-btn {
  width: 100px;
}

.login-link {
  margin-top: 15px;
  text-align: center;
}

.login-link a {
  color: #9172EC;
  position: relative;
  text-decoration: none;
  transition: color 0.3s, font-size 0.3s;
  font-weight: 600;
}

.login-link a:hover {
  color: #673ab7;
  font-size: 1.1em;
}

.login-link a:hover::before {
  position: absolute;
  left: 50%;
  bottom: 110%;
  transform: translateX(-50%);
  padding: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 0.8em;
  white-space: nowrap;
}

.login-link a:hover::after {
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
  border: 5px solid transparent;
  border-bottom: 5px solid rgba(0, 0, 0, 0.8);
}

.confirmation-message {
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  text-vertical-align: center;
  transform: translate(-50%, -50%);
  background-color: #673ab7;
  color: white;
  font-size: 26px;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  width: 40vh;
  height: 15vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.close-button {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  color: white;
  font-size: 12px;
}

.close-icon {
  font-size: 12px;
}
