<mat-toolbar color="primary">
  <span class="logo" routerLink="/app-instructor-landing">EduLine</span>
  <nav class="navbar">
    <a mat-button routerLink="/instructor-dashboard">Dashboard</a>
    <button mat-button [matMenuTriggerFor]="coursesMenu">Courses</button>
    <mat-menu #coursesMenu="matMenu">
      <button mat-menu-item routerLink="/create-course">Create</button>
      <button mat-menu-item routerLink="/published-courses">Published</button>
      <button mat-menu-item routerLink="/draft-courses">Draft</button>
    </mat-menu>
    <a mat-button routerLink="/instructor-faq">FAQ</a>
  </nav>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/instructor-profile">My Profile</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>
