<mat-toolbar color="primary">
  <span class="logo" routerLink="/app-instructor-landing">EduLine</span>
  <nav class="navbar">
    <a mat-button routerLink="/create-course">Create Course</a>
    <a mat-button routerLink="/published-courses">Published Course</a>
    <a mat-button routerLink="/draft-courses">Drafts</a>
  </nav>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/instructor-profile">My Profile</button>
    <button mat-menu-item (click)="logout()">Logout</button>
  </mat-menu>
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>
