.container {
  padding: 40px;
}

.video {
  padding-left: 7%;
  display: block;
  margin: auto;
}

.pdf {
  padding-left: 14%;
  display: block;
  margin: auto;
}

a{
  display: inline-block;
  background-color: #673ab7;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

a:hover {
  background-color: #9172EC;
}
