mat-card {
  margin: 40px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  width: 300px;
  height: 300px;
}



mat-card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 90px;
  color: #673ab7;
}

mat-card-content {
  font-size: 90px;
  font-weight: bold;
  align-items: center;
  color: #673ab7;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
