<app-admin-navbar></app-admin-navbar>

<div class="card-container">
  <mat-card>
    <mat-card-title>Total Active Students</mat-card-title>
    <mat-card-content>{{ studentsCount }}</mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Total Active Instructors</mat-card-title>
    <mat-card-content>{{ instructorsCount }}</mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Total Published Courses</mat-card-title>
    <mat-card-content>{{ coursesCount }}</mat-card-content>
  </mat-card>
</div>

