.hero {
  background-color: #673ab7;
  color: #fff;
  height: 28.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-heading {
  text-align: center;
  justify-content: center;
    align-items: center;
}

.hero-heading h1 {
  font-size: 4rem;
  margin: 0;
  font-weight: bold;
}

.hero-heading p {
  font-size: 1.5rem;
  margin: 0;
}

.hero-buttons {
  display: flex;
  margin-top: 2rem;
  padding: 20px;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

button{
padding: 20px;
}

.intro-section {
  margin: 2rem;
  text-align: center;
}

.intro-section h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.for-students, .for-instructors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.for-students h2, .for-instructors h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.for-students ul, .for-instructors ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.for-students li, .for-instructors li {
  margin-bottom: 1rem;
}

.cta {
  background-color: #673ab7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.cta-buttons a {
  margin-right: 1rem;
}
