
<div class="hero">
  <div class="hero-content">
    <div class="hero-heading">
      <h1>EduLine</h1>
      <div class="cta-buttons">
        <a mat-raised-button color="white" style="color: #673ab7; background-color: white;" routerLink="/register">Register</a>
        <a mat-raised-button style="color: #673ab7; background-color: white;" routerLink="/login">Login</a>
      </div>
    </div>
  </div>
</div>

<div class="intro">
  <div class="intro-section">
    <h2>For Students</h2>
    <p>Find the right course and take control of your learning experience.</p>
    <ul style = "text-align: left;">
      <li>Choose from a wide variety of courses.</li>
      <li>Learn at your own pace, from anywhere.</li>
      <li>Engage with instructors and peers through our learning community.</li>
      <li>Track your progress and stay organized with our dashboard.</li>
      <li>Affordable pricing options with no hidden fees.</li>
      <li>Start learning immediately with our easy-to-use platform.</li>
    </ul>
  </div>
  <div class="intro-section">
    <h2>For Instructors</h2>
    <p>Monetize your expertise and share your knowledge with the world.</p>
    <ul style = "text-align: left;">
      <li>Create and sell your own courses.</li>
      <li>Set your own prices and earn 50% of each sale.</li>
      <li>Reach a global audience with our platform.</li>
      <li>Engage with your students and build your brand.</li>
      <li>Track your sales and performance with our dashboard.</li>
      <li>Easy course creation and management tools.</li>
    </ul>
  </div>
</div>

<div class="cta">
  <p style="padding: 40px; color: white; font-size: 25px;">Empowering Minds</p>
</div>
